<h2><%= t ".title" %></h2>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><%= t "activerecord.attributes.smoking_area.name" %></th>
      <th><%= t "activerecord.attributes.smoking_area.address" %></th>
      <th><%= t "activerecord.attributes.smoking_area.latitude" %></th>
      <th><%= t "activerecord.attributes.smoking_area.longitude" %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @smoking_areas.each do |smoking_area| %>
    <tr>
      <td><%= smoking_area.name %></td>
      <td><%= smoking_area.address%></td>
      <td><%= smoking_area.latitude %></td>
      <td><%= smoking_area.longitude %></td>
      <th><%= link_to t(".edit"), edit_smoking_area_path(smoking_area), :class => "btn btn-info" %></th>
      <th><%= link_to t(".destroy"), smoking_area_path(smoking_area), :method => :delete, :data => {confirm: t(".confirm")}, :class => "btn btn-danger" %></th>
    </tr>
    <% end %>
  </tbody>
</table>
