<h2><%= t ".title" %></h2>

<%= render 'googlemap' %>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><%= t "activerecord.attributes.smoking_area.name" %></th>
      <th><%= t "activerecord.attributes.smoking_area.address" %></th>
      <th><%= t "activerecord.attributes.smoking_area.latitude" %></th>
      <th><%= t "activerecord.attributes.smoking_area.longitude" %></th>
    </tr>
  </thead>

  <tbody>
    <% @smoking_areas.each do |smoking_area| %>
    <tr>
      <td><%= smoking_area.name %></td>
      <td><%= smoking_area.address%></td>
      <td><%= smoking_area.latitude %></td>
      <td><%= smoking_area.longitude %></td>
    </tr>
    <% end %>
  </tbody>
</table>
